{% extends 'admin_temp/base.html' %}

{% load static %}

{% block body  %}
<body>
    <form action="/chicktextadd/"  method="post">
        <div align='center'>
            {%csrf_token%}
            {{form.media}}
            {{form.as_p}}
            <button type="button"  onclick="window.location='/chickT/';" class="btn btn-secondary" data-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary">Submit</button>  
        </div>
        
      </form> 
</body>
{% endblock body%}